
  <div class="jumbotron row">
      {{#link-to 'question' question.id}}
    <div class="col-sm-2 content-left">
      <h4>By: {{question.name}}</h4>
      {{answer-popularity question}}
    </div>
    <div class="col-sm-8 content-left">
      <h1>{{question.title}}</h1>
    </div>
    {{/link-to}}
    <div class="col-sm-2">
      {{#if canAddTolist}}
        <h4>Question already added to the list</h4>
      {{else}}
        <button class="btn"{{action 'addToList' question}}>Add question to list</button>
      {{/if}}
    </div>
  </div>
