<div class="jumbotron">
  <div class="">
    <h4>by: {{question.name}}</h4>
  </div>
  <div class="">
    <h2>{{question.title}}</h2>
    <p>
      {{question.content}}
    </p>
  </div>
  <button {{action 'delete' question}}>Delete this Question</button>
</div>
<hr>
<div class="">
  {{#each question.answer as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
    {{else}}
    <h4>Be the first to answer this question.</h4>
  {{/each}}
</div>
