<div class="jumbotron">
  <div class="">
    <h4>by: {{question.name}}</h4>
  </div>
  <div class="">
    <h2>{{question.title}}</h2>
    <p>
      {{question.content}}
    </p>
  </div>
</div>
<hr>
<h4>Sort : <select onchange={{action 'sortFilter'  value='target.value'}}>
  <option value="name">Name: A-Z</option>
  <option value="rating:desc">Rating: high/low</option>
  <option value="date:desc">Date: New/Old</option>

</select></h4>

<div class="">
  {{#each sortedReviews as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer" increaseRating="increaseRating"}}
    {{else}}
    <h4>Be the first to answer this question.</h4>
  {{/each}}
</div>
