<div class="">
  <div class="">
    {{new-question saveQuestion2="saveQuestion3"}}
  </div>
  <div class="">
    {{#each model.questions as |question|}}
      {{question-tile question=question}}
      <!-- {{#if question.canAddToList}}
        <h4>Question already added to the list</h4>
      {{else}}
        <button {{action 'addToList' question}}>Add question to list</button>
      {{/if}} -->
    {{/each}}
  </div>
  <hr>
  <div class="">
    <h4>Display Question List</h4>
    {{question-content}}
  </div>
</div>
